@import "~bootstrap/scss/bootstrap";

h1 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

h2 {
  text-transform: capitalize;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.control-title {
  font-weight: bold;
}

.data-map-canvas {
  display: block;
  margin: auto;
}

.bars-canvas {
  display: block;
  margin: auto;
}
